In [1]:
import pandas as pd

In [3]:
# Read the data into a Pandas DataFrame
crimes_Update_df = pd.read_csv("data/Crimes_2021_Update.csv")
crimes_Update_df.head()

,Year,County_name,County_dept,Crimes,Number of Crimes
0,2021,Alameda County,Alameda Co. Sheriff's Department,Violent_sum,10436
1,2021,Alpine County,Alpine Co. Sheriff's Department,Violent_sum,19
2,2021,Amador County,Amador Co. Sheriff's Department,Violent_sum,135
3,2021,Butte County,Butte Co. Sheriff's Department,Violent_sum,1110
4,2021,Calaveras County,Calaveras Co. Sheriff's Department,Violent_sum,185

In [5]:
crimes_Update_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              580 non-null    int64
 1   County_name       580 non-null    object
 2   County_dept       580 non-null    object
 3   Crimes            580 non-null    object
 4   Number of Crimes  580 non-null    int64
dtypes: int64(2), object(3)
memory usage: 22.8+ KB

In [7]:
crimes_Update_df.to_json('crimes_Update.json',orient='records')